@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply box-border scroll-smooth snap-y;
}
.header-font {
  @apply font-Pacifico;
}
.nav-font {
  @apply font-Courgette font-light;
}

.text-font {
  @apply font-Kanit;
}
@font-face {
  font-family: imported;
  src: url(./font/Lobster-Regular.ttf);
}
#one{
  font-family: imported;
}
.myevent{
  background-image: url(./images/T2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}